main{
    position: absolute;
}
#logo{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: max-content;
    width: max-content;
    position: absolute;
    text-align: center;
}
#main-logo-head {
    text-transform: capitalize;
    font-size: 12rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

#slogan {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 2.5rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#logo {
    background-color: aqua;
    text-align: center;
}

